#dragarea{
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

body{
    padding-top: 50px;
}

.navbar{
    margin-bottom: 0;
}

.media-controls{
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.center-content{
    text-align: center;
}

.right-content{
    text-align: right;
}

.jumbotron{
    margin-bottom: 0;
    height: calc(100vh - 50px);
}

.btn-spotify{
    color: #fff;
    background-color: rgb(30, 215, 96);
    border-color: rgba(0,0,0,0.2);
}

.btn-spotify:focus,.btn-spotify.focus{
    color: #fff;
    background-color: rgb(30, 215, 96);
    border-color: rgba(0,0,0,0.2)
}

.btn-spotify:hover{
    color: #fff;
    background-color: rgb(20, 144, 63);
    border-color: rgba(0,0,0,0.2);
}

.btn-spotify:active,.btn-spotify.active,.open>.dropdown-toggle.btn-spotify{
    color: #fff;
    background-color: rgb(30, 215, 96);
    border-color: rgba(0,0,0,0.2);
}

.btn-spotify:active:hover,.btn-spotify.active:hover,.open>.dropdown-toggle.btn-spotify:hover,.btn-spotify:active:focus,.btn-spotify.active:focus,.open>.dropdown-toggle.btn-spotify:focus,.btn-spotify:active.focus,.btn-spotify.active.focus,.open>.dropdown-toggle.btn-spotify.focus{
    color: #fff;
    background-color: rgb(15, 108, 47);
    border-color: rgba(0,0,0,0.2);
}

.btn-spotify:active,.btn-spotify.active,.open>.dropdown-toggle.btn-spotify{
    background-image:none
}

.btn-spotify.disabled:hover,.btn-spotify[disabled]:hover,fieldset[disabled] .btn-spotify:hover,.btn-spotify.disabled:focus,.btn-spotify[disabled]:focus,fieldset[disabled] .btn-spotify:focus,.btn-spotify.disabled.focus,.btn-spotify[disabled].focus,fieldset[disabled] .btn-spotify.focus{
    background-color: rgb(30, 215, 96);
    border-color: rgba(0,0,0,0.2);
}

.btn-spotify .badge{
    color: rgb(30, 215, 96);
    background-color: #fff
}