#dragarea{
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

body{
    padding-top: 50px;
}

.navbar{
    margin-bottom: 0;
}

.jumbotron{
    margin-bottom: 0;
    height: calc(100vh - 50px);
}